body{
    background-color:MistyRose;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }

  hr{
    border-style:none;
    background-color:black;
    height:1px;
    width:200px
  }


 #heading{
   color: black;
  font-size:45px;
 }

.style{
  height: 10px;
  background-color: black;
margin-bottom: 30px;

}

span{
  width: 200px;
  display: inline-block;
}

.pic{
  width: 900px;
  margin-top: 30px;
  margin-bottom:10px;
}

h3{
  color:white;
  position: absolute;
  font-size: 20px;
  top: 10
}

.hr2{
  background-color:black;
  height:40px;
  width:200px
}

.bottom{
  position: absolute;
  top: 100%; left: 50%;
  transform: translate(-50%, -50%);
  height:40px;
  width:300px;
  border-radius: 10px;
  border-color: black;

}
